<div class="myapp-filter">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
    <button *ngIf="input" matSuffix mat-icon-button (click)="input.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<app-base-list [dataSource]="dataSource">
  <ng-container data>
    <div class="post" *ngFor="let post of (dataSource.dataSubject | async)">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="title"><a [routerLink]="[post.node.id]">{{post.node.title}}</a></mat-card-title>
          <span fxFlex></span>
          <button mat-icon-button [matMenuTriggerFor]="dropMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #dropMenu="matMenu">
            <button mat-menu-item (click)="onDelete(post.node.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <a [routerLink]="[post.node.id]">
            <quill-view-html [content]="post.node.shortDescription" theme="snow"></quill-view-html>
          </a>
          <div class="myapp-tags">
            <a *ngFor="let tag of post.node.tags" [routerLink]="['']" [queryParams]="{tag: tag.name}">
              {{tag.name}}
            </a>
          </div>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginatorData($event)"></mat-paginator>
  </ng-container>
</app-base-list>
