<app-base-form [baseForm]="baseForm" (submited)="onSubmit()">
  <div form-fields [formGroup]="baseForm.form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="form.controls.email.errors?.required">
        {{form.controls.email.errors!.required.message}}
      </mat-error>
      <mat-error *ngIf="form.controls.email?.errors?.email">
        {{form.controls.email.errors!.email.message}} </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.controls.password.errors?.required">
        {{form.controls.password.errors!.required.message}}
      </mat-error>
      <mat-error *ngIf="form.controls.password.errors?.password">
        {{form.controls.password.errors!.password.message}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-error *ngIf="form.controls.confirmPassword.errors?.compare">
        {{form.controls.confirmPassword.errors!.compare.message}}
      </mat-error>
    </mat-form-field>
    <mat-form-field> <input type="text" matInput placeholder="Displayed name" formControlName="displayedName">
    </mat-form-field>
    <mat-form-field> <input matInput placeholder="First name" formControlName="firstName"> </mat-form-field>
    <mat-form-field> <input matInput placeholder="Last name" formControlName="lastName"> </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" aria-label="Gender" class="myapp-gender-selection">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="Birthday" formControlName="birthday">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Phone number" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Address" formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput placeholder="Additional info" formControlName="description"></textarea>
    </mat-form-field>
  </div>
</app-base-form>