<app-base-form [baseForm]="baseForm" (submited)="onSubmit()">
  <div form-fields [formGroup]="baseForm.form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Displayed name" formControlName="displayedName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option></mat-option>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="Birthday" formControlName="birthday">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Phone number" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Address" formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput placeholder="Additional info" formControlName="description"></textarea>
  </mat-form-field>
  </div>
</app-base-form>