<app-base-form [baseForm]="baseForm" (submited)="onSubmit()">
  <div form-fields [formGroup]="baseForm.form" fxLayout="column">
    <mat-form-field>
      <input type="password" matInput placeholder="Mậu khẩu mới" formControlName="newPassword">
      <mat-error *ngIf="baseForm.form.controls.newPassword.errors">
        {{baseForm.form.controls.newPassword.errors}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Xác nhận mậu khẩu mới" formControlName="confirmNewPassword">
      <mat-error *ngIf="baseForm.form.controls.confirmNewPassword.errors">
        {{baseForm.form.controls.confirmNewPassword!.errors}}
      </mat-error>
    </mat-form-field>
  </div>
</app-base-form>
