<app-base-form [baseForm]="baseForm" (submited)="onSubmit()">
  <div form-fields [formGroup]="baseForm.form" fxLayout="column" fxLayoutAlign="center center">
    <div>Enter your email account and we will send you a password reset link.</div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="form.controls.email.errors?.required">
        {{form.controls.email.errors!.required.message}}
      </mat-error>
      <mat-error *ngIf="form.controls.email?.errors?.email">
        {{form.controls.email.errors!.email.message}}
      </mat-error>
    </mat-form-field>
  </div>
</app-base-form>
